/* Reset */
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}
/* End reset */

.App {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

header {
  width: 100%;
  margin: 12px 0;

  display: flex;
  justify-content: space-between;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;

  width: 100%;
  margin: 24px 0;
}

/* TODO: This is not responsive */
.song-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 4%;
  row-gap: 24px;
}

.song-card {
  width: 300px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.song-card h3, .song-card h4 {
  margin-left: 16px;
}
